---
layout: main
---

<p class="text-5xl md:text-6xl font-black py-10 md:py-20 leading-tight">
 {{ title }}
</p>
  
{% include "nav.liquid" %}

<div class="prose dark:prose-invert hover:prose-a:text-blue-500">
  {{ content }}
</div>
