<footer class="mt-8 bg-gray-200 dark:bg-gray-900 py-8 flex-shrink-0">
  <div class="max-w-screen-sm md:max-w-screen-md mx-auto px-8">
    <p class="text-sm py-2 text-right">
      {% if site.facebook != "" %}
        <a href={{ site.facebook }}>Facebook</a>
      {% endif %}

      {% if site.rss != "" %}
        <a href={{ site.rss }}>RSS</a>
      {% endif %}

      {% if site.github != "" %}
        <a href={{ site.github }}>Github</a>
      {% endif %}
    </p>
  </div>
</footer>